body {
  font-family: Arial;
}

label {
  display:block;
  margin-bottom:5px;
}

.text-input {
  display:block;
  margin-bottom: 15px;
}

.find-restaurant {
  color:white;
  background-color:red;
  border:solid;
  border-width:1px;
  border-color:red;
  border-radius:15px;
  cursor:pointer;
  display:block;
  margin-top:10px;

  padding:10px 15px;
  font-family: Arial;
  font-size:18px;
}

.find-restaurant:hover {
  background-color:white;
  color:red;
}

.find-restaurant:active {
  opacity: 0.8;
}